header {
    text-align: center;
  }
  .flexbox-container {
    display:flex;
    flex-flow: row wrap;
  }
  .flexbox-container > * {
    margin: 10px;
    padding: 50px;
    background-color: lightgray;
    border-radius: 10px;
  }